# Entorno virtual
venv/
.env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# PyCharm / IntelliJ
.idea/

# Streamlit
.streamlit/secrets.toml

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.bak